{% load static %}
<!DOCTYPE html>
<!--
	Josiah Keene
	login.html
	3/3/26
-->
<html lang="en">
	<head>
		<title>ExploraStory Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'explorastory_app/css/styles.css' %}">
	</head>

    <body>
        <header></header>
        <nav></nav>
        <main>
            <div id="profile-decor">
                <img src="{% static 'explorastory_app/images/logo.png' %}" alt="explorastory logo" class="large-logo">
                <h1>ExploraStory</h1>
            </div>
            <div id="profile-form">
                <p>Enter your email to reset your password.</p>

                {% if form.errors %}
                    <p>The provided email does not match a profile. Please try again.</p>
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div>
                        <p>{{ form.email.label_tag }} {{ form.email }}</p>
                    </div>

                    <input type="submit" value="Reset my password">
                </form>
            </div>
        </main>
        <footer></footer>
    </body>
</html>