{% load static %}
<!DOCTYPE html>
<!--
	Josiah Keene
	index.html
	2/9/26
-->
<html lang="en">
	<head>
		<title>ExploraStory</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="{% static 'explorastory_app/images/favicon.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'explorastory_app/css/styles.css' %}">
		<link href="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.css" rel="stylesheet">
		<script src="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.js"></script>
		<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.5.1/mapbox-gl-draw.js"></script>
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.5.1/mapbox-gl-draw.css" type="text/css">
		<script defer src="{% static 'explorastory_app/js/index.js' %}"></script>
	</head>

	<body>
		<div id="banner">
			<header>
				<img src="{% static 'explorastory_app/images/logo.png' %}" alt="explorastory logo" class="logo">
				<p class="user-display">{{username}}</p>
			</header>

			<nav>
				<div id="default-menu" class="show">
					<button id="route-toggle">Routes</button>
					<button id="user-options">Options</button>
					<form action="{% url 'logout' %}" method="post">
						{% csrf_token %}
						<button type="submit">Log Out</button>
					</form>
				</div>
				<div id="options-menu" class="hide">
					<button id="export-page">Export Map</button>
					<button id="profile-settings">Profile</button>
					<button id="options-close">Back</button>
				</div>
				<div id="add-route-menu" class="hide">
					<button id="new-route-toggle">Menu</button>
					<button id="reset-route-trace">Reset Route</button>
					<button id="cancel-add-route">Cancel</button>
				</div>
			</nav>
		</div>
		
		<main>

			<div id="map"></div>

			<button id="add" class="center-btn show">Add Route</button>

			<div id="route-drawer" class="closed">
				<div id="route-drawer-menu">
					<button>Save</button>
					<button id="route-cancel">Cancel</button>
				</div>
				<div id="route-container">
					{% if user_routes|length == 0%}
						<p>You have no routes. Once you add a route, it will appear here.</p>
					{% else %}
						{% for route in user_routes%}
							{% include 'explorastory_app/snippets/routedata.html'%}
						{% endfor %}
					{% endif %}
				</div>
			</div>

			<div id="new-route-instructions" class="hide">
				<div id="route-instructions-header">
					<h1>Directions:</h1>
					<button id="instructions-close">&times;</button>
				</div>
				<p>Add points to your route by selecting where on the map you want the route to change directions. To end the route, select the last point you placed. You can adjust the location of points and add new points in the middle of your route after ending the route by double clicking on it.</p>
			</div>

			<button id="route-next-step" class="center-btn hide">Next</button>

			<div id="new-route-drawer" class="closed">
				<div id="new-route-drawer-menu">
					<button id="save-new-route">Finish and Save</button>
					<button id="close-new-route">Cancel</button>
				</div>
				<div id="new-route-container">
					<p>Route Name</p>
					<p>Route Date</p>
					<p>Route Color</p>
					<p>Notes</p>
					<p>Guest List</p>
				</div>
			</div>
			

			<div id="profile-drawer" class="closed">
				<div id="profile-drawer-menu">
					<button>Change Username</button>
					<button>Change Password</button>
					<button>Delete Profile</button>
					<button id="close-profile">Close</button>
				</div>
			</div>

		</main>
		
		<footer>
			<p>&copy; Copyright 2026. All Rights Reserved.</p>
		</footer>
		
		
	</body>
</html>