{% load static %}
<!DOCTYPE html>
<!--
	Josiah Keene
	index.html
	4/21/26
-->
<html lang="en">
	<head>
		<title>ExploraStory</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="{% static 'explorastory_app/images/favicon.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'explorastory_app/css/styles.css' %}">
		<link href="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.css" rel="stylesheet">
		<script src="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.js"></script>
		<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.5.1/mapbox-gl-draw.js"></script>
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.5.1/mapbox-gl-draw.css" type="text/css">
		<script defer src="{% static 'explorastory_app/js/index.js' %}"></script>
		{{ render_data|json_script:'data-storage' }}
	</head>

	<body>
		<div id="banner">
			<header>
				<img src="{% static 'explorastory_app/images/logo.svg' %}" alt="explorastory logo" class="logo">
				<p class="user-display">{{username}}</p>
			</header>

			<nav>
				<div id="default-menu" class="show">
					<button id="route-toggle">Routes</button>
					<button id="user-options">Options</button>
					<form action="{% url 'logout' %}" method="post">
						{% csrf_token %}
						<button type="submit">Log Out</button>
					</form>
				</div>
				<div id="options-menu" class="hide">
					<button id="export-page">Export Map</button>
					<button id="profile-settings">Profile</button>
					<button id="options-close">Back</button>
				</div>
				<div id="add-route-menu" class="hide">
					<button id="reset-route-trace">Reset Route</button>
					<button id="cancel-add-route">Cancel</button>
				</div>
			</nav>
		</div>
		
		<main>

			<div id="map"></div>

			<button id="add" class="center-btn show">Add Route</button>

			<div id="route-drawer" class="hide">
				<div id="route-drawer-menu">
					<form id="order-form" method="post" action="{% url 'index' %}">
						{% csrf_token %}
						{{ order_form }}
						<input id="save-order" type="submit" name="submit-route-order" value="Save Changes">
					</form>
					<button id="route-cancel">Cancel</button>
				</div>
				<ul id="route-container">
					{% if user_routes|length == 0%}
						<p>You have no routes. Once you add a route, it will appear here.</p>
					{% else %}
						{% for route in user_routes%}
							{% include 'explorastory_app/snippets/routedata.html'%}
						{% endfor %}
					{% endif %}
				</ul>
			</div>

			<div id="new-route-instructions" class="hide">
				<div id="popup-header">
					<h1>Directions:</h1>
					<button id="instructions-popup-close">&times;</button>
				</div>
				<p>Add points to your route by selecting where on the map you want the route to change directions. To end the route, select the last point you placed. You can adjust the location of points and add new points in the middle of your route after ending the route by double clicking on it.</p>
			</div>

			<button id="route-next-step" class="center-btn hide">Next</button>

			<div id="new-route-drawer" class="hide">
				<div id="new-route-drawer-menu">
					<button id="close-new-route">Back</button>
				</div>
				<div id="new-route-container">
					<form id="new-route-form" method="post" action="{% url 'index' %}">
						{% csrf_token %}
						{{ form_new }}
						<input id="save-form" type="submit" name="submit-new-route" value="Save">
               		</form>
				</div>
			</div>

			<div id="route-details-drawer" class="hide">
				<div id="route-details-drawer-menu">
					<p>Route Details</p>
					<button id="close-route-details">Exit</button>
				</div>
				<div id="route-details-container">
					<form id="modify-route-form" method="post" action="{% url 'index' %}">
						{% csrf_token %}
						{{ modify_form }}
						<input id="save-form" type="submit" name="submit-route-modification" value="Save Changes">
               		</form>
					<button id="delete-route">Delete Route</button>
				</div>
			</div>

			<div id="delete-route-popup" class="hide">
				<div id="popup-header">
					<h1>Delete Route:</h1>
					<button id="delete-popup-close">&times;</button>
				</div>
				<div id="delete-route-content">
					<p>Are you sure you want to permanently delete this route?</p>
					<div id="delete-menu">
						<form id="delete-route-form" method="post" action="{% url 'index' %}">
							{% csrf_token %}
							{{ delete_form }}
							<input id="save-form" type="submit" name="submit-route-delete" value="Delete">
               			</form>
						<button id="cancel-delete">Cancel</button>
					</div>
				</div>
			</div>
			
			<button id="route-next" class="center-btn hide">Next</button>

			<div id="profile-drawer" class="hide">
				<div id="profile-drawer-menu">
					<button>Change Username</button>
					<button>Change Password</button>
					<button>Delete Profile</button>
					<button id="close-profile">Close</button>
				</div>
			</div>

		</main>
		
		<footer>
			<p>&copy; Copyright 2026. All Rights Reserved.</p>
		</footer>
		
		
	</body>
</html>